<template>
  <div>
    <footer class="container footer mt-auto">
      <!-- footer container -->
      <div class="navbar navbar-expand navbar-light bg-light">
        <div class="social navbar-nav">
          <a
            class="nav-item nav-link"
            href="https://www.linkedin.com/in/wladimir-sawicki-16761499/"
          >
            <font-awesome-icon :icon="['fab', 'linkedin']" class="icon" />
          </a>
          <a class="nav-item nav-link" href="https://github.com/slepovron">
            <font-awesome-icon :icon="['fab', 'github']" class="icon" />
          </a>
          <a
            class="nav-item nav-link"
            href="https://discordapp.com/users/wladimir_korwin#0325"
          >
            <font-awesome-icon :icon="['fab', 'discord']" class="icon" />
          </a>
          <a class="nav-item nav-link" href="https://t.me/wladimir_korwin">
            <font-awesome-icon :icon="['fab', 'telegram']" class="icon" />
          </a>
          <a
            class="nav-item nav-link"
            href="https://join.skype.com/invite/mgR1rLxv2B0L"
          >
            <font-awesome-icon :icon="['fab', 'skype']" class="icon" />
          </a>
        </div>
      </div>
    </footer>
    <!-- footer -->
  </div>
</template>

<style scoped>
  .icon {
    width: 32px;
    height: 32px;
  }
</style>
