<template>
  <div>
    <div class="container">
      <!-- navigation bar container -->
      <nav
        class="navbar navbar-expand-md navbar-light bg-light font-weight-bold"
      >
        <nuxt-link no-prefetch class="logo navbar-brand" to="/">
          <img
            src="https://avatars2.githubusercontent.com/u/27227805?s=460&v=4"
            width="50"
            height="50"
            alt="logo"
            class="rounded-circle"
          >
        </nuxt-link>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" />
        </button>
        <div
          id="navbarNav"
          class="collapse navbar-collapse justify-content-end"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <nuxt-link no-prefetch active-class="active" exact class="nav-link" to="/">
                Проекты
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link no-prefetch active-class="active" class="nav-link" to="/About">
                Обо мне
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link no-prefetch active-class="active" class="nav-link" to="/Links">
                Ссылки
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link
                no-prefetch
                active-class="active"
                class="nav-link"
                to="/Contacts"
              >
                Написать
              </nuxt-link>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- navigation bar -->
  </div>
</template>

<style scoped>

</style>
