<template>
  <div id="app" v-cloak class="bg-light">
    <Nuxt />
  </div>
</template>

<script>
</script>

<style>
[v-cloak] {
  display: none;
}

body {
  background-color: #f8f9fa;
}

.lobster {
  font-family: Lobster,cursive;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}

</style>
