<template>
  <div id="app" class="bg-dark">
    <h1>O-ou! Something went wrong!</h1>
    <Nuxt />
  </div>
</template>

<style>
body {
background-color: #f8f9fa;
}

.lobster {
  font-family: Lobster,cursive;
}
</style>
