<template>
  <div>
    <Navigation />

    <main role="main" class="container p-0 flex-shrink-0">
      <!-- resume container -->

      <section
        id="about"
        class="resume-section p-3 p-lg-5 d-flex align-items-center"
      >
        <div class="w-100">
          <h2 class="mb-5 lobster">
            Обо мне
          </h2>
          <h1 class="mb-2">
            Wladimir Sawicki
          </h1>
          <div class="mb-3">
            <a
              href="mailto:vladimir.slepovron@gmail.com"
            >
              vladimir.slepovron@gmail.com
            </a>
          </div>
          <div class="mb-5">
            <a
              href="/cv.pdf"
              role="button"
              class="btn btn-outline-primary"
              download
            >
              Скачать полное резюме
            </a>
          </div>
          <p class="mb-4 font-weight-normal">
            Занимаюсь фронтенд разработкой с конца 2018 года. Создаю статические
            веб страницы, вношу правки в имеющиеся сайты, занимаюсь переносом
            страниц на структуру WordPress. На данный момент работаю с фремворком Vue.js, в качестве серверной составляющей использую
            Node.js (имею опыт администрирования XAMPP и IIS).
            <br>
            <br>
            В качестве базовых знаний по сетевой инфраструктуре и безопасности
            опираюсь на многолетний стаж системного администрирования и
            ИТ-аналитики (включая организацию и управление ИТ подразделениями).
            <br>
            <br>
            Имею опыт работы и волонтерства в зарубежных странах (Непал,
            Вьетнам, Таиланд).
            <br>
            <br>
            На данный момент ищу вакансии в компаниях с возможностью перехода на
            удаленную работу, либо с последующей релокацией в Польшу (нахожусь в
            стадии сборов документов на карту поляка).
          </p>
        </div>
      </section>
      <!-- about -->

      <hr class="m-0">

      <section
        id="skills"
        class="resume-section p-3 p-lg-5 d-flex align-items-center"
      >
        <div class="w-100">
          <h2 class="mb-5 lobster">
            Навыки
          </h2>

          <div class="mb-3 font-weight-bold">
            Используемые языки и инструменты:
          </div>

          <ul class="list-inline social">
            <li class="list-inline-item">
              <font-awesome-icon :icon="['fab', 'github']" class="icon" />
            </li>
            <li class="list-inline-item">
              <font-awesome-icon :icon="['fab', 'js']" class="icon" />
            </li>
            <li class="list-inline-item">
              <font-awesome-icon :icon="['fab', 'vuejs']" class="icon" />
            </li>
            <li class="list-inline-item">
              <font-awesome-icon :icon="['fab', 'node-js']" class="icon" />
            </li>
            <li class="list-inline-item">
              <font-awesome-icon :icon="['fab', 'npm']" class="icon" />
            </li>
            <li class="list-inline-item">
              <font-awesome-icon :icon="['fab', 'css3-alt']" class="icon" />
            </li>
            <li class="list-inline-item">
              <font-awesome-icon :icon="['fab', 'sass']" class="icon" />
            </li>
            <li class="list-inline-item">
              <font-awesome-icon :icon="['fab', 'html5']" class="icon" />
            </li>
            <li class="list-inline-item">
              <font-awesome-icon :icon="['fab', 'linux']" class="icon" />
            </li>
          </ul>
          <br>
        </div>
      </section>
      <!-- skills -->

      <hr class="m-0">

      <section
        id="awards"
        class="resume-section p-3 p-lg-5 d-flex align-items-center"
      >
        <div class="w-100">
          <h2 class="mb-5 lobster">
            Повышение квалификации, курсы
          </h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fas fa-user-graduate text-warning" />
              Information Systems Management - НОУ "Интуит" 2014
            </li>
            <li>
              <i class="fa-li fas fa-user-graduate text-warning" />
              Windows Server 2012 R2 (Jump Start) - Microsoft Virtual Academy
              2014
            </li>
            <li>
              <i class="fa-li fas fa-user-graduate text-warning" />
              Модернизация инфраструктуры организации с помощью Windows Server
              2012 R2 - Microsoft Virtual Academy 2014
            </li>
            <li>
              <i class="fa-li fas fa-user-graduate text-warning" />
              1С Бухгалтерия 8.1 - НОУ "Интуит" 2014
            </li>
            <li>
              <i class="fa-li fas fa-user-graduate text-warning" />
              Microsoft Windows for Users - НОУ "Интуит" 2010
            </li>
            <li>
              <i class="fa-li fas fa-user-graduate text-warning" />
              Система Гарант Эксперт - НПП "Гарант-сервис" 2010
            </li>
            <li />
          </ul>
        </div>
      </section>
      <!-- awards -->

      <hr class="m-0">

      <section
        id="education"
        class="resume-section p-3 p-lg-5 d-flex align-items-center"
      >
        <div class="w-100">
          <h2 class="mb-5 lobster">
            Образование
          </h2>

          <div
            class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="resume-content">
              <h3 class="mb-0">
                Тульский Государственный Университет
              </h3>
              <div class="mb-3">
                Специалист
              </div>
              <div>"Электроснабжение"</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Август 2000 - Май 2005</span>
            </div>
          </div>

          <div
            class="resume-item d-flex flex-column flex-md-row justify-content-between"
          >
            <div class="resume-content">
              <h3 class="mb-0">
                Тульский Механический Техникум им С.И.Мосина
              </h3>
              <div class="mb-3">
                Tехник-электрик
              </div>
              <div>
                "Электроснабжение промышленных предприятий и гражданских
                сооружений"
              </div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Август 1996 - Май 2000</span>
            </div>
          </div>
        </div>
      </section>
      <!-- education -->

      <br><br>
    </main>
    <!-- resume -->

    <Footer />
  </div>
</template>

<script>
import Navigation from '@/components/Navigation'
import Footer from '@/components/Footer'
export default {
  components: {
    Navigation, Footer
  }
}
</script>

<style scoped>
  .resume-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .resume-section .resume-item .resume-date {
    min-width: none;
  }

  .icon {
    width: 32px;
    height: 32px;
  }

  @media (min-width: 768px) {
    .resume-section {
      min-height: 50vh;
    }
    .resume-section .resume-item .resume-date {
      min-width: 18rem;
    }
  }

  @media (min-width: 992px) {
    .resume-section {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
</style>
