<template>
  <div>
    <Navigation />

    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1>Напишите мне</h1>
        <div class="row">
          <form id="form" class="col-md-6 mb-4 mb-md-0" accept-charset="UTF-8" action="https://usebasin.com/f/a0f150e5f549" method="POST">
            <div class="form-group">
              <label for="formGroupExampleInput">Ваш адрес:</label>
              <input
                id="email"
                class="form-control"
                type="email"
                name="email"
                placeholder="Your email address"
                required
              >
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Текст сообщения:</label>
              <textarea
                id="message"
                class="form-control"
                rows="4"
                name="message"
                placeholder="Message"
                required
              />
              <button class="btn btn-primary mt-2">
                Отправить
              </button>
            </div>
          </form>

          <div class="col-md-6 text-center">
            <p>Или найдите меня тут:</p>
            <div class="row justify-content-center">
              <div class="col-2 mt-2">
                <a href="https://t.me/wladimir_korwin" target="_blank">
                  <font-awesome-icon :icon="['fab', 'telegram']" class="icon" />
                </a>
              </div>
              <div class="col-2 mt-2">
                <a href="https://www.linkedin.com/in/wladimir-sawicki-16761499/" target="_blank">
                  <font-awesome-icon :icon="['fab', 'linkedin']" class="icon" />
                </a>
              </div>
              <div class="col-2 mt-2">
                <a href="https://github.com/slepovron" target="_blank"> <font-awesome-icon :icon="['fab', 'github']" class="icon" />
                </a>
              </div>
            </div>
          </div>
        </div> <!-- row -->
      </div> <!-- container -->
    </main>

    <Footer />
  </div>
</template>

<script>
import Navigation from '@/components/Navigation'
import Footer from '@/components/Footer'
export default {
  components: {
    Navigation, Footer
  }
}
</script>

<style scoped>
  .icon {
    width: 32px;
    height: 32px;
  }
</style>
