<template>
  <div>
    <Jumbotron />

    <NavigationHome />

    <main role="main" class="container flex-shrink-0">
      <!-- projects card container -->
      <a name="projects" />
      <div class="card-columns">
        <!-- wrapper for cards -->

        <div id="ad-economics" class="card bg-dark text-light">
          <!-- ad-economics project -->
          <img
            src="@/assets/img/economics.jpg"
            class="card-img-top"
            alt="ad-economics"
          >
          <div class="card-body">
            <h5 class="card-title lobster">
              Дмитрий Акимов
            </h5>
            <p class="card-text">
              Single Page Application для преподавателя экономики. Сайт настроен
              и сдан заказчику, ожидается наполнение контентом (подробности по
              учебному процессу и пр.)
            </p>
            <a
              role="button"
              href="#"
              class="btn btn-outline-light mt-1"
              target="_blank"
            >В работе.</a>
          </div>
        </div>
        <!-- ad-economics projec -->

        <div id="y-math" class="card bg-dark text-light">
          <!-- y-math project -->
          <img
            src="@/assets/img/y-math.jpg"
            class="card-img-top"
            alt="y-math"
          >
          <div class="card-body">
            <h5 class="card-title lobster">
              Online Math Tutor
            </h5>
            <p class="card-text">
              Landing page для репетитора по математике. Помощь в выборе и
              настройке хостинга и доменного имени. Сайт собран на основе
              компонентов библиотеки Bootstrap4.
              <br>Клиент предполагает развитие страницы для продвижения
              резюме, возможно добавление отзывов от учеников и ссылок на
              различные ресурсы и материалы используемые в работе репетитора.
            </p>
            <a
              role="button"
              href="https://y-math.github.io/"
              class="btn btn-outline-light mt-1"
              target="_blank"
            >Перейти на сайт</a>
            <a
              role="button"
              href="/y-math.zip"
              class="btn btn-outline-light mt-1"
              download
            >Скачать архив</a>
          </div>
        </div>
        <!-- y-math project -->

        <div id="bulatdesign" class="card black bg-light text-light p-3">
          <!-- bulatdesign project -->
          <h4 class="card-title lobster">
            Студия дизайна "Булат"
          </h4>
          <p class="card-text">
            Внесение правок по списку заказчика.
            <br>Масштабирование элементов, адаптивная стилизация видео блоков,
            выравнивание сетки, подключение иконок сайта, работа со шрифтом,
            активные ссылки. <br>Даны рекомендации по обновлению сайта и
            ускорению загрузки.
          </p>
          <button
            href="#"
            class="btn btn-outline-light mt-1"
            data-toggle="modal"
            data-target="#bulatdesignModal"
          >
            Подробнее
          </button>
          <a
            role="button"
            href="https://bulatdesign.ru"
            class="btn btn-outline-light mt-1"
            target="_blank"
          >Перейти на сайт</a>
        </div>
        <!-- bulatdesign -->

        <!-- bulatdesignModal -->
        <div
          id="bulatdesignModal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="bulatdesignModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-light">
              <div class="modal-header">
                <h5 id="bulatdesignModalTitle" class="lobster modal-title">
                  Описание работы
                </h5>
                <a class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </a>
              </div>
              <div class="modal-body">
                <p>
                  Задача:
                  <br>- работа с legacy проектом без исходников и
                  документации, <br>- исправить проблемы по списку заказчика,
                  <br>- по возможности ускорить загрузку сайта, <br>-
                  почистить код на скрытые ошибки.
                  <br>
                  <br>Исправлено: <br>- созданы и подключены иконки -
                  favicon, <br>- сайт почищен от нерабочих и пустых ссылок на
                  страницах, <br>- исправлены проблемы отступов блоков на
                  мобильной и десктопной версии, <br>- удален или исправлен
                  невалидный код HTML страниц (незакрытые и пустые элементы,
                  ошибки вложенности, нерабочие классы), <br>-
                  исправлены/добавлены/удалены CSS стили необходимые для
                  корректной работы, <br>- добавлена стилизация и сокрытие
                  элементов навигации для мобильной версии, <br>- настроены и
                  стилизованы адаптивные блоки видео, <br>- исправлены
                  проблемы отображения шрифта на мобильных версиях, <br>-
                  укорена загрузка сайта за счет сжатия изображений (суммарно на
                  30%), <br>- найден оригинальный шаблон сайта, <br>-
                  частично исправлена проблемы сетки сайта возникающая на
                  кириллических шрифтах, <br>- процесс исправлений и результат
                  работы предоставлен заказчику в виде веб-страницы на github.
                  <br>
                  <br>UPD: <br>- спустя год сайт обновлен заказчиком
                  самостоятельно на конструкторе tilda, от использования старой
                  версии сайта отказались
                  <br>
                </p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-outline-primary" data-dismiss="modal">
                  Закрыть
                </button>
                <a
                  role="button"
                  href="https://bulatdesign.ru"
                  class="btn btn-outline-dark"
                  target="_blank"
                >Перейти на сайт</a>
              </div>
            </div>
          </div>
        </div>
        <!-- bulatdesignModal -->

        <div id="elenapro" class="card black bg-dark text-light p-3">
          <!-- elena-pro project -->
          <h4 class="card-title lobster">
            Elena Pro
          </h4>
          <p class="card-text">
            Сайт-портфолио для мастера макияжа, татуажа, укладки, стрижки, грима
            и глобального создания красоты.
            <br>Создан на основе шаблона с применением популярных элементов
            анимации, открытых библиотек шрифтов Ionic и FontAwesome и
            колоночной разбивки Masonry.
          </p>
          <button
            href="#"
            class="btn btn-outline-light mt-1"
            data-toggle="modal"
            data-target="#elenaproModal"
          >
            Подробнее
          </button>
          <a
            role="button"
            href="https://елена-про.рф/"
            class="btn btn-outline-light mt-1"
            target="_blank"
          >Перейти на сайт</a>
        </div>
        <!-- elena-pro -->

        <!-- elenaproModal -->
        <div
          id="elenaproModal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="elenaproModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-light">
              <div class="modal-header">
                <h5 id="elenaprolTitle" class="lobster modal-title">
                  Описание работы
                </h5>
                <a class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </a>
              </div>
              <div class="modal-body">
                <p>
                  Задача:
                  <br>- создать статический сайт для мастера макияжа, <br>-
                  настроить мобильную версию, <br>- разместить страницу на
                  недорогом хостинге,
                  <br>
                  <br>Сделано: <br>- сайт собран на основе бесплатного
                  шаблона, <br>- заказчик предложил взять сайт на поддержку.
                  <br>- доменное имя и хостинг выбраны с учетом пожеланий
                  заказчика. <br>Запланировано: <br>- добавление страниц по
                  мере необходимости, <br>- поиск SEO специалиста для
                  продвижения сайта.
                  <br>
                </p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-outline-primary" data-dismiss="modal">
                  Закрыть
                </button>
                <a
                  role="button"
                  href="https://елена-про.рф/"
                  class="btn btn-outline-dark"
                  target="_blank"
                >Перейти на сайт</a>
              </div>
            </div>
          </div>
        </div>
        <!-- elenaproModal -->

        <!-- qoute card -->
        <Quotes />
        <!-- qoute card -->

        <div id="vingil" class="card black bg-dark text-light p-3 frozed">
          <!-- vingil project -->
          <h4 class="card-title lobster">
            Vingil
          </h4>
          <p class="card-text">
            Создание сайта-магазина на WordPress на основе выбранной заказчиком
            темы.
            <br>Полный цикл работ, от выбора хостинга до помощи клиенту в
            администрировании полученного магазина.
          </p>
          <a
            role="button"
            href="#"
            class="btn btn-outline-light mt-1"
          >Проект заморожен</a>
        </div>
        <!-- vingil -->

        <div id="massage" class="card black bg-dark text-light p-3">
          <!-- yoga massage project -->
          <h4 class="card-title lobster">
            Тибетский массаж
          </h4>
          <p class="card-text">
            Сайт-визитка для специалиста тибетского массажа и йога-терапии на
            основе Boilerplate и Bootstrap4 с использованием библиотеки CSS
            Animate.
            <br>
          </p>
          <a
            role="button"
            href="https://caring-hands.github.io/"
            class="btn btn-outline-light mt-1"
          >Перейти на сайт</a>
        </div>
        <!-- yoga massage -->

        <!-- tulacafe project -->
        <div id="tulacafe" class="black card bg-secondary p-3">
          <h4 class="card-title lobster">
            Кондитерская Корица
          </h4>
          <p class="card-text">
            Создание сайта кафе и темы для использования через систему
            WordPress.
            <br>Сайт предоставлен в виде статической страницы и архива темы
            WordPress, в дальнейшем возможно добавление функционала на сайт по
            желанию заказчика.
          </p>
          <button
            href="#"
            class="btn btn-outline-dark mt-1"
            data-toggle="modal"
            data-target="#tulacafeModal"
          >
            Подробнее
          </button>
          <a
            role="button"
            href="https://tulacafe.ru"
            class="btn btn-outline-dark mt-1"
            target="_blank"
          >Перейти на сайт</a>
        </div>
        <!-- tulacafe -->

        <!-- tulacafeModal -->
        <div
          id="tulacafeModal"
          class="modal fade"
          tabindex="-1"
          role="dialog"
          aria-labelledby="tulacafeModalTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-light">
              <div class="modal-header">
                <h5 id="tulacafeModalTitle" class="lobster modal-title">
                  Описание работы
                </h5>
                <a class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </a>
              </div>
              <div class="modal-body">
                <p>
                  Задача:
                  <br>- создать статическую страницу, <br>- перенести
                  страницу кафе на WordPress, <br>- сделать изменяемые поля
                  для цен и описания.
                  <br>
                  <br>Сделано: <br>- создана страница по требованиям
                  заказчика, <br>- создана тема WP, <br>- созданы поля для
                  изменения контента пользователем, <br>- тема проверена на
                  локальном веб-сервере и передана заказчику для размещения на
                  хостинге.
                  <br>
                  <br>Не сделано: <br>- на данный момент используется только
                  статическая страница.
                </p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-outline-primary" data-dismiss="modal">
                  Закрыть
                </button>
                <a
                  role="button"
                  href="/tulacafe_wp.zip"
                  class="btn btn-outline-dark"
                  download
                >Скачать WP архив</a>
              </div>
            </div>
          </div>
        </div>
        <!-- tulacafeModal -->
      </div>
      <!-- wrapper for cards -->
    </main>
    <!-- projects card container -->

    <Footer />
  </div>
</template>

<script>

import Jumbotron from '@/components/Jumbotron'
import Footer from '@/components/Footer'
import NavigationHome from '@/components/NavigationHome'
import Quotes from '@/components/Quotes'
export default {
  components: {
    Jumbotron,
    NavigationHome,
    Footer,
    Quotes
  }
}
</script>

<style scoped>
#tulacafe {
  background: url(https://tulacafe.ru/assets/splash-bg.jpg);
  background-size: cover;
  background-position: center;
}

#massage {
  background: url(https://caring-hands.github.io/images/services-bg.jpg);
  background-size: cover;
  background-position: center;
}

#elenapro {
  background: url(../assets/img/makeup3.jpg);
  background-size: cover;
  background-position: center;
}

#bulatdesign {
  background: url(../assets/img/bulat.png);
  background-size: cover;
  background-position: center;
}

#vingil {
  background: url(../assets/img/vingil1.jpg);
  background-size: cover;
  background-position: center;
}

/* #y-math {
}

#ad-economics {
} */

.frozed {
  filter: blur(2px);
}
</style>
