<template>
  <div>
    <Navigation />

    <main role="main" class="container flex-shrink-0">
      <div class="card-columns">
        <!-- cards container -->

        <div class="card">
          <div class="card-body">
            <h4 class="card-title lobster">
              Coursehunters
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">
              видеокурсы для разработчиков
            </h6>

            <p class="card-text">
              Одна из лучших библиотек с бесплатными курсами по различным темам.
              Обязательна к регулярному посещению в поисках нового контента.
            </p>
            <a
              href="https://coursehunters.net/"
              class="btn btn-sm btn-primary"
            >Coursehunters
            </a>
          </div>
        </div>

        <div class="card div-color">
          <div class="card-body">
            <h4 class="card-title lobster">
              Генератор анимированных градиентов.
            </h4>
            <a
              href="https://www.gradient-animator.com/"
              class="btn btn-sm btn-outline-dark"
            >
              Gradient Generator
            </a>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title lobster">
              Справочники
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">
              и не только
            </h6>
            <ul class="list-unstyled">
              <li>
                <a
                  class="lobster"
                  href="https://kali.tools"
                >
                  Инструменты Kali Linux
                </a>
                - справочник по инструментарию для пентестинга
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://learn.javascript.ru/"
                >Учебник по JS
                </a>
                - обновляемый справочник/учебник по JavaScript
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://learn-reactjs.ru/tutorial"
                >Учебник по React.js</a>
                - методичка и справочник с внятным пояснением материала
              </li>
              <li>
                <a class="lobster" href="https://githowto.com/ru">Git How To</a>
                - интерактивное пособие по основам Git
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
                >Flexbox</a>
                - отличный гайд по использованию flex элементов
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://nuancesprog.ru/p/2840/"
                >RegEx</a>
                - регулярные выражение в примерах, то что нам всем нужно знать
              </li>
              <li>
                <a class="lobster" href="https://wp-kama.ru/">WP-kama</a> - все
                что вы хотели узнать о WordPress, но не знали где искать
              </li>
              <li>
                <a class="lobster" href="http://htmlbook.ru/">HTML Book</a> -
                популярный справочник по HTML/CSS
              </li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title lobster">
              Генераторы кода и песочницы
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">
              возможность проверить написанное и поискать чужие решения
            </h6>
            <ul class="list-unstyled">
              <li>
                <a class="lobster" href="https://codesandbox.io">Codesandbox</a>
                - онлайновая песочница с возможностью создать проект на React.js
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://tylermcginnis.com/javascript-visualizer/"
                >ES5 визуализатор</a>
                - возможность проверить работу кода
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://www.jhipster.tech/"
                >Jhipster</a>
                - создание и проверка проектов на React/Vue/Angular с логами
                отчетами и прочим
              </li>
              <li>
                <a class="lobster" href="https://enjoycss.com/">Enjoy CSS</a> -
                продвинутый генератор стилей с визуализацией
              </li>
              <li>
                <a class="lobster" href="http://cssanimate.com/">CSS Animate</a>
                - наглядная кроссбраузерная анимация
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://css-grid-layout-generator.pw/"
                >Grid Generator</a>
                - онлайн конструктор сетки
              </li>
              <li>
                <a
                  class="lobster"
                  href="http://the-echoplex.net/flexyboxes/"
                >Flexbox Generator</a>
                - создает flex контейнер с дочерними элементами
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://webcode.tools/"
                >Code Generator</a>
                - генератор различных элементов стилей по заданным параметрам,
                можно использовать для обучения или просто копипастить
              </li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title lobster">
              Библиотеки и фреймворки
            </h4>
            <h6 class="card-subtitle mb-2 text-muted" />
            <ul class="list-unstyled">
              <li>
                <a class="lobster" href="http://bootstrap-4.ru/">Bootstrap 4</a>
                - таблица классов библиотеки Twitter Bootstrap
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://codyhouse.co/ds/components"
                >Codyhouse</a>
                - фреймворк с подоборкой наиболее распространенных элементов для
                создания сайта
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://masonry.desandro.com/"
                >Masonry</a>
                - сетка для многоколоночного расположения элементов страницы
              </li>
              <li>
                <a class="lobster" href="https://1440px.com/">Grid Template</a>
                - создает 8, 9 и 12 колоночный PSD/PNG/CSS шаблон для сайта
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://html5boilerplate.com/"
                >Boilerplate</a>
                - универсальная заготовка для сайта, содержит необходимую
                структуру файлов и папок и актуальный набор исправлений для
                браузеров
              </li>
              <li>
                <a class="lobster" href="https://modernizr.com/">Modernizer</a>
                - инструмент позволяющий подстроить сайт под возможности
                браузера пользователя
              </li>
            </ul>
          </div>
        </div>

        <!--

            <li><a class="lobster" href="https://transfonter.org/">Transfonter</a> - конвертирует загружаемый шрифт в нужный формат</li>
            <li><a class="lobster" href="https://www.cssmatic.com/">CSSmatic</a> - визуальный редактор для CSS</li>
            <li><a class="lobster" href="http://avocode.com">Avocode</a> - позволяет разобрать PSD макет на стили и блоки с размерами, две недели бесплатного пользования</li>
            <li><a class="lobster" href="https://psdetch.com/">PSDetch</a> - бесплатный аналог предыдущего инструмента (чуть менее красивый)</li>
            <li><a class="lobster" href="http://bennettfeely.com/flexplorer/">Flexplorer</a> - визуализатор возможностей flex</li>
            <li><a class="lobster" href="https://colorscheme.ru/">Colorscheme</a> - генератор цветовой палитры сайта, простенько, но со вкусом</li>
            <li><a class="lobster" href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-linux.pdf">VSСode shortcuts</a> - комбинации горячих клавиш для VSCode (Linux)</li>

        -->

        <!-- <div class="card div-filter bg-dark text-light p-3">
            <div class="card-body">
              <h4 class="card-title lobster">CSS filter - cвойство для изменения цветовой гаммы элементов.</h4>
            </div>
        </div>-->

        <div class="card">
          <div class="card-body">
            <h4 class="card-title lobster">
              Игры
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">
              для отработки навыков
            </h6>
            <ul class="list-unstyled">
              <li>
                <a class="lobster" href="https://tags.isthe.link/">HTML tags</a>
                - тест на память, все html теги со ссылками на применение
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://mastery.games/p/flexbox-zombies"
                >Flexbox Zombies</a>
                - игра на flexbox
              </li>
              <li>
                <a class="lobster" href="http://www.hexinvaders.com/">HEX</a> -
                атака цветных пришельцев
              </li>
              <li>
                <a
                  class="lobster"
                  href="http://www.flexboxdefense.com/"
                >Flexbox Defense</a>
                - линия обороны с помощью flex
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://cssgridgarden.com/"
                >Grid Garden</a>
                - сад на grid
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://flexboxfroggy.com/"
                >Flexbox Froggy</a>
                - flexbox лягушатник
              </li>
              <li>
                <a
                  class="lobster"
                  href="http://flukeout.github.io/"
                >CSS Diner</a>
                - ужин с CSS селекторами
              </li>
              <li>
                <a class="lobster" href="http://pixact.ly/">Pixactly</a> - с
                точностью до пикселя
              </li>
            </ul>
          </div>
        </div>

        <!-- qoute card -->
        <Quotes />
        <!-- qoute card -->

        <div class="card">
          <div class="card-body">
            <h4 class="card-title lobster">
              Telegram каналы
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">
              те которые сам читаю
            </h6>
            <ul class="list-unstyled">
              <li>
                <a
                  class="lobster"
                  href="https://t.me/nuancesprog"
                >Nuances of programming</a>
                - образовательные статьи и переводы для программистов
              </li>
              <li>
                <a class="lobster" href="https://t.me/js_test">JS test</a> -
                тесты и статьи по JavaScript
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://t.me/front_end_dev"
                >FrontEndDev</a>
                - статьи, новости, уроки по front end/web разработке
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://t.me/frontendproglib"
                >Библиотека фронтендера</a>
                - полезные материалы по всему, что может быть интересно
                frontend-разработчику
              </li>
              <li>
                <a class="lobster" href="https://t.me/smart_dev">Smart Dev</a> -
                новости мира разработки и IT, статьи, авторские переводы
              </li>
              <li>
                <a class="lobster" href="https://t.me/webb_dev">WebDEV</a> -
                полезные ресурсы для Backend и Frontend разработчиков
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://t.me/tmgroupsecurity"
                >TMSecurity</a>
                - канал про информационную безопасность от команды пентестеров
                "T&M Group"
              </li>
              <li>
                <a
                  class="lobster"
                  href="https://t.me/hidemyname_ru"
                >HideMyName</a>
                - оперативная и полезная информация для русскоязычных
                пользователей известного сервиса
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- card-columns -->
    </main>

    <Footer />
  </div>
</template>

<script>
import Navigation from '@/components/Navigation'
import Footer from '@/components/Footer'
import Quotes from '@/components/Quotes'

export default {
  components: {
    Navigation,
    Footer,
    Quotes
  }
}
</script>

<style scoped>
.div-color {
  background: linear-gradient(
    290deg,
    #7f05e5,
    #0fc0ff,
    #ff3800,
    #ff00bf,
    #ffec00
  );
  background-size: 1000% 1000%;
  -webkit-animation: div_color 15s ease infinite;
  -moz-animation: div_color 15s ease infinite;
  animation: div_color 15s ease infinite;
}

@-webkit-keyframes div_color {
  0% {
    background-position: 0% 41%;
  }
  50% {
    background-position: 100% 60%;
  }
  100% {
    background-position: 0% 41%;
  }
}
@-moz-keyframes div_color {
  0% {
    background-position: 0% 41%;
  }
  50% {
    background-position: 100% 60%;
  }
  100% {
    background-position: 0% 41%;
  }
}
@keyframes div_color {
  0% {
    background-position: 0% 41%;
  }
  50% {
    background-position: 100% 60%;
  }
  100% {
    background-position: 0% 41%;
  }
}
</style>
